$('#mc_main').empty();
<% $mc.each_with_index do |col, index| %>
  $('#mc_main').append('<li><ul id="mc<%= index %>"></ul></li>');
<% end %>

<% $mc.each_with_index do |col, index| %>
  <% col.each do |poem| %>
    $('#mc<%= index %>').append('<li><%= link_to poem.to_s, poem %><% if poem.has_successors? %>&nbsp;<%= link_to '&raquo;'.html_safe, poems_mc_navigate_path(:id => poem.id, :mc => index), :remote => true %><% end %></li>');
  <% end %>
<% end %>




