// styles are ordered alphabetically, but grouped into
// a) standard html tags
// b) classes
// c) ID's

// variables reflecting the color scheme (more or less)
// scheme based on Theme 85 by Jenny @ AdobeKuler

$main_background: white;
$main_color: black;

$heading: rgba(45, 50, 64, 1.0);
$closed_accordion: rgba(191, 73, 4, 1.0);
$open_accordion: rgba(217, 103, 4, 1.0);

$normal_content: rgba(223, 229, 242, 1.0);
$hover_content: rgba(176, 183, 191, 1.0);

$finder_background: rgba(217, 103, 4, 1.0);

// section a) standard html tags

a {
  display: inline-block;
}

body {
  background-color: $main_background;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $main_color;
}

footer {
  margin-top: 20px;
  color: black;
}

h1 {
  color: $heading;
}

hr {
  border: 0;
  height: 1px;
  background-color: $heading;
}

table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

// section b) classes


.ac-container {
  width: 100%;
  clear: both;

  article {
    display: none;
    margin: 7px 0px 14px 14px;
  }

  input {
    display: none;
  }

  label {
    position: relative;
    z-index: 20;
    display: block;
    height: 20px;
    cursor: pointer;
    color: white;
    line-height: 22px;
    padding: 7px 14px;
    background: $closed_accordion;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 0px 7px 0px;
  }
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
  background: $open_accordion;
  color: white;
}

.ac-container label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after{
  background-image: url(arrow_up.png);
}

.ac-container input:checked ~ article {
  display: inherit;
}

.bold {
  font-weight: bold;
  font-style: normal;
}

.button {
  padding: 4px 7px;
  margin: 0;
  background: $normal_content;
  text-decoration: none;
  font-weight: bold;
  color: $heading;

  &:hover {
    background: $hover_content;
  }
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  clear: both;
}

.content {
  padding: 60px 20px 20px;
}

.finder_layer {
  z-index: 1000;
  position: fixed;
  margin-left: 0;
  margin-top: 120px;
  background-color: $finder_background;
  box-shadow: 3px 3px 15px #999999;
  color: white;
  padding: 10px;
  left: 0;
  top: 40px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.flat_list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    text-decoration: none;
  }
}

.header {
  clear: both;
  width: 100%;
  margin-bottom: 70px;
}

.header_left {
  float: left;
}

.header_right {
  float: right;
}

.hidden {
  display: none;
}

.label_cell {
  padding: 5px 20px 5px 0;
  border-bottom: 1px solid $heading;
  vertical-align: top;
  color: $heading;
  font-weight: bold;
}

.link {
  padding: 0px 2px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: $heading;

  &:hover {
    background-color: $heading;
    color: white;
  }
}

.main-nav-wrapper {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: $main_background;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  min-height: 40px;
}

.mc_selected {
  background-color: #e5dbcf;
}

.miller_column {
  border-right: 1px solid #e5dbcf;
  border-spacing: 0;

  td {
    padding-left: 2ex;
    padding-right: 2ex;
  }
}

.nav_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.nav_content {
  padding: 30px 20px;
}

.overlay_dialog {
  position: absolute;
  left: 300px;
  top: 200px;
  background-color: $main_background;
  padding: 14px;
  border: 1px solid $heading;
  box-shadow: 7px 7px 21px silver;
  opacity: 0.95;
  visibility: hidden;

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    ol {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0px 0px 7px 0px;
        margin: 0;

        article {
          overflow: hidden;
          display: none;
        }
      }
    }

    fieldset {
      margin-bottom: 10px;
      border: 1px solid $heading;
    }

    [type=radio]:checked ~ label ~ article {
      display: inherit;
    }
  }

  label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    width: 120px;
  }

  legend {
    font-weight: bold;
    color: $heading;
    margin: 0;
    padding: 0px 0px 14px 0px;
  }
}

.right {
  float: right;
  vertical-align: middle;

  form {
    display: inline;
  }
}

.row-wrapper {
  width: 100%;
  padding: 0;
  margin: 7px 0;
  background-color: $main_background;
  overflow: hidden;

  &:hover {
    background-color: $hover_content;

    .row-menu {

      a {
        color: $heading;

        &:hover {
          color: $main_background;
        }
      }
    }
  }

  .row-content {
    overflow: hidden;
    display: inline-block;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    width: 69%;
  }

  .row-label {
    color: $heading;
    font-weight: bold;
  }

  .row-menu {
    overflow: hidden;
    display: inline-block;
    float: left;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    width: 30%;

    a {
      color: $main_background;
    }
  }

  .value_cell {
    padding: 7px 21px 7px 0;
  }
}

.shakespeare {
  font-family: "Lucida Grande",sans-serif;
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
  color: $heading;
  text-decoration: none;
}

.space1 {
  margin: 28px 0px;
}

// section c) ID's

#miller_column_view ul li {
  float: left;
  list-style-type: none;
}

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  z-index: 1050;
  background-color: rgba(232, 232, 232, 0.4);
}

// test section
// shall be empty in production :)