// styles are ordered alphabetically, but grouped into
// a) standard html tags
// b) classes
// c) ID's

// variables reflecting the color scheme (more or less)
// scheme based on Theme 85 by Jenny @ AdobeKuler

$main_background: white;
$main_color: black;

$heading: rgba(45, 50, 64, 1.0);
$closed_accordion: rgba(191, 73, 4, 1.0);
$open_accordion: rgba(217, 103, 4, 1.0);

$normal_content: rgba(223, 229, 242, 1.0);
$hover_content: rgba(176, 183, 191, 1.0);

$finder_background: rgba(217, 103, 4, 1.0);

// section a) standard html tags

a {
  display: inline-block;
}

body {
  background-color: $main_background;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $main_color;
}

footer {
  margin-top: 20px;
  color: black;
}

h1 {
  color: $heading;
}

hr {
  border: 0;
  height: 1px;
  background-color: $heading;
}

table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

// section b) classes

.active {
  background-color: #ff0000;
  color: white;
}

.button {
  padding: 4px 7px;
  margin: 0;
  background: $normal_content;
  text-decoration: none;
  font-weight: bold;
  color: $heading;
}

.button:hover {
  background: $hover_content;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  clear: both;
}

.content {
  padding: 60px 20px 20px;
}

.finder_layer {
  z-index: 1000;
  position: fixed;
  margin-left: 0;
  margin-top: 120px;
  background-color: $finder_background;
  box-shadow: 3px 3px 15px #999999;
  color: white;
  padding: 10px;
  left: 0;
  top: 40px;
}

.finder_layer a {
  color: #ffffff;
  text-decoration: none;
}

.flat_list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flat_list > li {
  display: inline;
  text-decoration: none;
}

.header {
  clear: both;
  width: 100%;
  margin-bottom: 70px;
}

.header_left {
  float: left;
}

.header_right {
  float: right;
}

.label_cell {
  padding: 5px 20px 5px 0;
  border-bottom: 1px solid $heading;
  vertical-align: top;
  color: $heading;
  font-weight: bold;
}

.link {
  padding: 0px 2px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: $heading;
}

.link:hover {
  background-color: $heading;
  color: white;
}

.main-nav-wrapper {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: $main_background;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  min-height: 40px;
}

.nav_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.nav_content {
  padding: 30px 20px;
}

.overlay_dialog {
  position: absolute;
  left: 300px;
  top: 200px;
  background-color: white;
  padding: 14px;
  border: 1px solid $heading;
  box-shadow: 7px 7px 21px silver;
  opacity: 0.95;
  visibility: hidden;
}

.overlay_dialog fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.overlay_dialog label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  width: 120px;
}

.overlay_dialog legend {
  font-weight: bold;
  color: $heading;
  margin: 0;
  padding: 0px 0px 14px 0px;
}

.overlay_dialog fieldset ol {
  margin: 0;
  padding: 0;
}

.overlay_dialog fieldset ol li {
  list-style: none;
  padding: 0px 0px 7px 0px;
  margin: 0;
}

.overlay_dialog fieldset fieldset {
  margin-bottom: 10px;
  border: 1px solid red;
}

.shakespeare {
  font-family: "Lucida Grande",sans-serif;
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
  color: $heading;
  text-decoration: none;
}

// section c) ID's

#content_pane {
  margin-top: 8px;
  padding: 10px;
  border-top: 1px solid red;
}

.miller_column {
  border-right: 1px solid #e5dbcf;
  border-spacing: 0;
}

.miller_column td {
  padding-left: 2ex;
  padding-right: 2ex;
}

.mc_selected {
  background-color: #e5dbcf;
}

#miller_column_view ul li {
  float: left;
  list-style-type: none;
}

// to-do: clear starting here!

.right {
  float: right;
  vertical-align: middle;
}

.right > form {
  display: inline;
}

.value_cell {
  padding: 5px 20px 5px 0;
}

.hidden {
  display: none;
}

.row_highlight:hover {
  background-color: $main_background;
}

input[type="submit"] {
  outline: none;
  padding: 7px 14px;
  -webkit-border-radius: 7px;
  box-shadow: 1px 1px 2px silver;
  text-decoration: none;
  background-color: $main_background;
  color: $main_color;
}

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  z-index: 1050;
  background-color: rgba(232, 232, 232, 0.4);
}

.row_wrapper  {
  padding: 7px 14px;
  min-height: 32px;
  margin: 7px 0;
  background: $normal_content;
}

.row_label {
  float: left;
  min-width: 20%;
  max-width: 20%;
}

.row_wrapper .row_action {
  position: absolute;
  top: 20px;
  display: none;
}

.row_wrapper:hover {
  background: $hover_content;
}

.row_wrapper:hover .row_action {
  display: block;
}

.row_value:after {
  content: '.';
  visibility: hidden;
}

.row_content {
  position: relative;
}

.row_value {
  position: absolute;
  left: 20%;
  top: 0;
}

em.bold {
  font-weight: bold;
  font-style: normal;
}

.space1 {
  margin: 28px 0px;
}

// accordion style for poem.show

.ac-container {
  width: 100%;
  clear: both;
}

.ac-container label {
  position: relative;
  z-index: 20;
  display: block;
  height: 20px;
  cursor: pointer;
  color: white;
  line-height: 22px;
  padding: 7px 14px;
  background: $closed_accordion;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 7px 0px;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
  background: $open_accordion;
  color: white;
}

.ac-container label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after{
  background-image: url(arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  display: none;
  margin: 7px 0px 14px 14px;
}

.ac-container input:checked ~ article {
  display: inherit;
}